.hero-header {
  position: relative;
  height: 150px;            /* change height if needed */
  background-image: url("static/header.jpg");
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
.main-articles {
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
}

.bg-layer {
    position: absolute;
    inset: 0;
    background: url('static/article.jpg') center / 100% 100% no-repeat;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: 0;
}

/* content always above */
.main-articles > .container {
    position: relative;
    z-index: 1;
}

