.hero-header {
  position: relative;
  height: 150px;            /* change height if needed */
  background-image: url("static/header.jpg");
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
.main-articles {
    position: relative;
    z-index: 1;
    padding: 2rem 0;
    overflow: hidden;
}
.main-articles::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('static/article.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* STRETCH */
    transform: scale(1.05);
    filter: blur(3px);
    z-index: -1;
}
